.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  background: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  justify-content: center;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #3c1414;
}
.modal-image-container {
  display: flex;
  flex-direction: column;
}
.modal-image {
  max-width: 100%; // Максимальная ширина изображения, может быть 100%, чтобы растянуться на ширину контейнера
  max-height: 300px; // Максимальная высота изображения
  display: block; // Изображения по умолчанию inline, что добавляет пробел снизу
  margin: 0 10px 0 10px; // Выравнивание по центру, если ширина меньше 100%
  object-fit: contain; // Содержимое сохраняет свои пропорции, но заполняет размеры элемента
  border-radius: 5px;
}
.modal-image-description {
  margin: 0 auto;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
}
.modal-first-tablet-container {
  margin: 10px auto 0;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  margin-right: 10px;
}
.modal-second-tablet-container {
  margin: 10px auto 0;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
}
.modal-tablet-h2 {
  margin: 0 auto;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
  
}

th {
  background-color: #f2f2f2;
}
/* Стилизация нормального состояния точек */
.slick-dots li button:before {
  color: #fff; /* Цвет точек */
  font-size: 16px; /* Устанавливаем желаемый размер точек */
}

/* Стилизация активного состояния точки */
.slick-dots li.slick-active button:before {
  color: rgb(255, 255, 255); /* Цвет активной точки */
}

.Myslider {
  width: 100%;
  background-color: rgb(52, 7, 7);
  display: flex;
  height: 100%;
}
.App {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.card {
  border: 1px solid #fff;
  background: rgb(34, 5, 5);
  border-radius: 8px;
  overflow: hidden;

  height: 650px;
  color: #fff;
  cursor: pointer;
}

.card-top h1 {
  font-size: 2.5rem;
  margin: 20px;
  margin-left: 0;
  text-align: center;
  width: 100%;
  background-color: #3c1414;
  font-weight: 400;
}
.card-bottom h3 {
  font-size: 2rem;
  text-align: center;
}
.card-top > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  background: black;
}

.card-bottom {
  margin: 10px 20px;
}

.category {
  position: relative;
  font-size: 1.3rem;
  text-align: center;
}
.category::before {
  content: "";
  background: rgb(255, 61, 61);
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  height: 2px;
}
@media (max-width: 768px) and (min-width: 500px) {
  .modal-content {
  display: flex;
  height: 500px;
  width: 90%;
}
.modal-tablet-container {
  width: 100%;
}
.modal-first-tablet-container {
  margin: 0 auto;
}
  .modal-image-container {
    width: 100%;
  }
  .modal-image {
  max-width: 100%; // Максимальная ширина изображения, может быть 100%, чтобы растянуться на ширину контейнера
  max-height: 300px; // Максимальная высота изображения
  display: block; // Изображения по умолчанию inline, что добавляет пробел снизу
  margin: 0 auto; // Выравнивание по центру, если ширина меньше 100%
  object-fit: contain; // Содержимое сохраняет свои пропорции, но заполняет размеры элемента
}
 th, td {
    padding: 6px;
  }
  .category {
    font-size: 1rem;
  }

  .card-top h1 {
    font-size: 1.5rem;
  }
  .card-top > img {
    height: 200px;
  }
  .slick-dots {
    display: none !important;
  }
  .card {
    height: 450px;
  }
}

@media (max-width: 500px) and (min-width: 320px) {
  .modal-content {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.modal-first-tablet-container {
  margin: 0 auto;
}
  .modal-image-container {
    width: 100%;
  }
  .modal-image {
  max-width: 100%; // Максимальная ширина изображения, может быть 100%, чтобы растянуться на ширину контейнера
  max-height: 150px; // Максимальная высота изображения
  display: block; // Изображения по умолчанию inline, что добавляет пробел снизу
  margin: 0 auto; // Выравнивание по центру, если ширина меньше 100%
  object-fit: contain; // Содержимое сохраняет свои пропорции, но заполняет размеры элемента
}
.modal-image-description {
  font-size: 1.5rem;
}

  h2 {
    font-size: 18px; /* Уменьшаем размер заголовка */
  }

  p {
    font-size: 14px; /* Уменьшаем основной текст */
  }

  th, td {
    padding: 4px;
    font-size: 12px; /* Уменьшаем текст в таблице */
  }

  table {
    margin-top: 5px;
  }
  .category {
    font-size: 1rem;
  }
  .card-top h1 {
    font-size: 1.5rem;
  }
  .card-top > img {
    height: 250px;
  }
  .slick-dots {
    display: none !important;
  }
  .card {
    height: 500px;
  }
  .App {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
