@import './variables.scss';
.arrow {
  transform: translateY(2px);
  width: 100%
}
.scrollToTopButton {
  width: 35px;
  height: 35px;
  margin-left: auto;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: block;
  background-color: rgba(187, 119, 80, 0.6);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 100; /* Убедитесь, что кнопка видима над другим содержимым */
}

.scrollToTopButton:hover {
  background-color: #43a047; /* Немного темнее для эффекта при наведении */
}



body {
  background-color: $bgcolor-light;
  font-family: $font-primary;
}



h1 {
  font-weight: 700;
  font-size: 47px;
  margin: 0;
}

p {
  margin: 0;
  margin-bottom: 30px;
}


* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $primary-color;
  &:hover {
    color: $hover-link-color;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 70px;
  padding-right: 70px;
}
h3 {
  margin: 0;
}
.global__btn {
  position: relative;
  z-index: 1;
  align-self: center;
  margin-top: 20px;
  font-weight: 400;
    width: 10rem;
    margin-bottom: 30px;
    padding: 10px 20px;
  background-color: rgba(52, 7, 7, 0);
  border: 3px solid rgb(187, 119, 80);
  color: #e3efe8;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 3px rgb(157, 100, 67); /* Темно-голубой */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.global__btn {
  transform: scale(1.05);
  box-shadow: 0 8px 28px rgba(255, 255, 255, 0.1);
  background-position: right center;
}

.global__btn:active {
  transform: scale(0.95);
   transform: translateY(2px);
  box-shadow: 0 1px rgb(103, 67, 46);;
}
.global__btn:hover {
  background-color: rgba(187, 119, 80, 0.1); /* Темно-голубой */
}

html {
  scroll-behavior: smooth;
}
body, .body-main {
  margin: 0;
  padding: 0;
  /* Остальные стили */
}

.footer {
  padding: 0;
  /* Остальные стили */
}
@media (max-width: 768px) and (min-width: 320px) {
  .container {
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
}