@import './variables.scss';



body {
  background-color: $bgcolor-light;
  font-family: $font-primary;
}



h1 {
  font-weight: 700;
  font-size: 47px;
  margin: 0;
}

p {
  margin: 0;
  margin-bottom: 30px;
}

button {
  margin-bottom: 50px;
  width: 160px;
  height: 45px;
  background-color: $color-button;
  border: none;
  transition: 0.3s;
  color: $primary-color;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    background-color: $color-button-hover;
    transform: scale(1.05);
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $primary-color;
  &:hover {
    color: $hover-link-color;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}
h3 {
  margin: 0;
}