$bgcolor-light: #f2f2f2;
$font-primary: "Roboto", sans-serif;
$color-button: #2c9358;
$color-button-hover: #227044;
$primary-color: #f2f2f2;
$hover-link-color: #a3a2a2;
$container-width: 1500px;
$container-padding: 15px;
$text-color-white: #f2f2f2;
$text-color-transparent-white: rgba(255, 255, 255, 0.4);
$color-dark: rgb(52, 7, 7);
$color-beer-background: rgb(52, 7, 7);
$color-form-line: rgb(187, 119, 80);
$margin-auto: auto;
$background-cover: cover;
$background-no-repeat: no-repeat;
$transform-scale-hover: scale(1.05);
$item-hover-transform-scale: scale(1.05);
$bg-img-size: cover;
$beer-background-color: $color-dark;
$form-line-color: rgb(187, 119, 80);
$bg-img-size: cover;
$item-hover-transform-scale: scale(1.05);
$width-mobile: 100%;








