@import "../../styles/variables";

.form__line {
  width: 100%;
  background-color: $color-form-line;
  padding: 20px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__heading {
    color: $text-color-white;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    margin-right: 10px;
    transform: translateY(-4px);
  }

  &__p {
    color: $text-color-white;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 300;
    
  }
  &__text {
    display: flex;
    justify-content: flex-start;
  }
}
.form__actions {
  padding-top: 10px;
}
.form__input {
  width: 160px;
  padding: 11px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: rgb(134, 104, 76);
  margin-bottom: 10px;
}
.form__input::placeholder {
  color: #ffffff;
  text-align: center;
  font-weight: 100;
  font-size: 0.9rem;
}

.form__submit-button {
  width: 90px;
  font-weight: 100;
  font-size: 0.9rem;
  padding-top: 13px;
  padding-bottom: 12px;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  background-color: #5c5c5c;
  color: white;
  cursor: pointer;
  text-transform: none;
}

.form__submit-button:hover {
  background-color: #424242;
}
@media (max-width: 1368px) and (min-width: 320px) {
  .form {
    display: flex;
    flex-direction: column;
    
    &__text {
      display: flex;
      flex-direction: column;
    }
    &__p {
      margin-bottom: 10px;
    }
     &__heading {
    color: $text-color-white;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
  }
  }
  .form__actions {
    display: flex;
    flex-direction: column;
    width: 270px;
    justify-content: space-between;
}
}
